.navbar {
    height: 5rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: rgba(30, 30, 30, 0.8);
}

.logo {
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.desktopMenuBtn {
    background-color: rgb(230, 230, 230);
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.desktopMenuBtn:hover {
    background-color: white;
}

.desktopMenu {
    display: flex;
    gap: 2rem;
}

.desktopMenuListItem {
    cursor: pointer;
    margin: 0.5rem;
    padding: 0.75rem 1rem;
    font-size: 1.5rem;
    border: 1px solid transparent;
    border-radius: 1rem;
}

.desktopMenuListItem:hover {
    border-color: whitesmoke; 
    background-color: white;
    color: black;
}

