h2 {
    text-align: center;
    font-size: 3rem;
}

.work {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.workCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .workCardContainer {
      flex-direction: column;
    }
}

.workCard {
    border: 1px solid white;
    border-radius: 1rem;
    width: 20vw;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .workCard {
        width: 80vw;
    }
}

.workCard img {
    width: 90%;
    border-radius: 1rem;
}

.workCard:hover {
    background-color: rgb(55, 55, 55);
    cursor: pointer;
}

.aboutDetail {
    display: inline-block;
}

.line {
    width: 100vw;
    height: 1px;
    background-color: white;
}